extend default

block content
  p.
    A Relojoaria Borges está há mais de 20 anos no bairro Santa Mônica em Uberlândia, MG.
    Com a missão de sempre brindar seus clientes com os melhores produtos e serviços,
    a Relojoaria Borges mantem sua reputação de bom atendimento e garantia do trabalho realizado.

  p.
    Endereço: Av. Belarmino Cotta Pacheco, 2109 - Santa Mônica, Uberlândia - MG, 38408-168
    Telefone: (34) 3231-3741
